@use "sass:color";

$base: #1e1e2e;
$text: #cdd6f4;
$surface0: #343451;
$mauve: #cba6f7;
$red: #f38ba8;
$green: #a6e3a1;

window.Bar {
  border: 3px solid rgba($mauve, 0.8);
  border-radius: 14px;
  box-shadow: none;
  background-color: rgba($base, 0.8);
  color: $text;
  font-size: 1.1em;
  font-weight: bold;

  label {
    margin: 8px 8px;
  }

  .AppRunner {
    label {
      margin: 0px 0px;
      padding-left: 4px;
      padding-right: 4px;
    }

    margin: 5px 5px 5px 5px;
    border: 2px solid rgba($mauve, 0.8);
    background-color: rgba($mauve, 0.8);
    color: $base;
    border-color: rgba($mauve, 0.8);
    border-radius: 10px;

    &:hover {
      background-color: color.adjust($mauve, $alpha: -0.8);
      border: 2px solid rgba($mauve, 0.8);
      margin: 5px 5px 5px 5px;
      color: $mauve;
    }
  }

  .Workspaces {
    background-color: rgba($surface0, 0.8);
    border: 2px solid rgba($mauve, 0.8);
    padding: 0px 10px;
    margin: 5px 0px;
    border-radius: 10px;

    button {
      all: unset;
      transition: 250ms;
    }

    .ws-button {
      background-color: rgba($text, 0.4);
      min-height: 6px;
      min-width: 6px;
      border-radius: 3px;
      margin-left: 3px;
      margin-right: 3px;

      &.focused {
        min-width: 30px;
        min-height: 15px;
        background-color: $mauve;
        color: $mauve;
        border-color: $mauve;
      }
    }
  }

  .Cava {
    background-color: rgba($surface0, 0.8);
    border: 2px solid rgba($surface0, 0.8);
    color: $mauve;
    padding: 2px 5px;
    margin: 5px 5px;
    border-radius: 10px;
  }

  .SysTray {
    margin-right: 8px;

    button {
      padding: 0 4px;
    }
  }

  .FocusedClient {
    color: $mauve;
  }

  .Time {
    background: rgba($surface0, 0.8);
    font-weight: bold;
    border: 2px solid rgba($surface0, 0.8);
    color: $mauve;
    padding: 0px 5px 0px 5px;
    margin: 5px 0px;
    border-radius: 10px;

    &:hover {
      border: 2px solid rgba($mauve, 0.8);
    }
  }

  .Calendar {
    background: $base;
    min-height: 100px;
    min-width: 100px;
    .Menu {
      background: $base;
      color: $mauve;
    }
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: 7px;
    background-position: center;
    background-size: contain;
  }

  .Battery label {
    padding-left: 0;
    margin-left: 0;
  }

  .AudioSlider {
    * {
      all: unset;
    }

    icon {
      margin-right: 0.6em;
    }

    & {
      margin: 0 1em;
    }

    trough {
      background-color: color.adjust($text, $alpha: -0.8);
      border-radius: 7px;
    }

    highlight {
      background-color: $mauve;
      min-height: 0.8em;
      border-radius: 7px;
    }

    slider {
      background-color: $text;
      border-radius: 7px;
      min-height: 1em;
      min-width: 1em;
      margin: -0.2em;
    }
  }

  .Power {
    label {
      margin: 0px 0px;
      padding-left: 4px;
      padding-right: 4px;
    }

    margin: 5px 5px 5px 5px;
    border: 2px solid rgba($mauve, 0.8);
    background-color: rgba($mauve, 0.8);
    color: $base;
    border-color: rgba($mauve, 0.8);
    border-radius: 10px;

    &:hover {
      background-color: color.adjust($mauve, $alpha: -0.8);
      border: 2px solid rgba($mauve, 0.8);
      margin: 5px 5px 5px 5px;
      color: $mauve;
    }
  }
}

window#power {
  all: unset;
  background: none;

  box.PowerMenu {
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    background-color: rgba($base, 0.8);
    border: 2px solid $mauve;
    border-radius: 10px;

    button {
      background-color: $surface0;
      color: $mauve;
      border: 2px solid $mauve;
      margin-top: 3px;
      margin-bottom: 3px;

      &:hover {
        background-color: rgba($mauve, $alpha: 0.8);
        //border: 2px solid rgba($mauve, .8);
        color: $surface0;
      }
    }
  }
}

window#powerconfirm {
  all: unset;
  background: rgba($base, 0.8);

  box.PowerConfirm {
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    background-color: rgba($base, 0.8);
    border: 2px solid $mauve;
    border-radius: 10px;

    button .Yes {
      background-color: $green;
      color: $surface0;
      border: 2px solid $surface0;
      margin-top: 3px;
      margin-bottom: 3px;

      &:hover {
        background-color: rgba($mauve, $alpha: 0.8);
        //border: 2px solid rgba($mauve, .8);
        color: $surface0;
      }
    }
  }
}
