@use "sass:color";

$base00: #080808;
$base07: #838383;
$base08: #272727;
$base05: #696969;
$base01: #455e5e;
$base02: #956969;


window.Bar {
    border: 3px solid rgba($base05, .8);
    border-radius: 14px;
    box-shadow: none;
    background-color: rgba($base00, .8);
    color: $base07;
    font-size: 1.1em;
    font-weight: bold;

    label {
        margin: 8px 8px;
    }

    .AppRunner {
        label {
            margin: 0px 0px;
            padding-left: 4px;
            padding-right: 4px;
        }

        margin : 5px 5px 5px 5px;
        border: 2px solid rgba($base05, .8);
        background-color: rgba($base05, .8);
        color: $base00;
        border-color: rgba($base05, .8);
        border-radius: 10px;

        &:hover {
            background-color: color.adjust($base05, $alpha: -0.8);
            border: 2px solid rgba($base05, .8);
            margin: 5px 5px 5px 5px;
            color: $base05
        }
    }

    .Workspaces {
        background-color: rgba($base08, .8);
        border: 2px solid rgba($base05, .8);
        padding: 0px 10px;
        margin: 5px 0px;
        border-radius: 10px;

        button {
            all: unset;
            transition: 250ms;
        }

        .ws-button {
            background-color: rgba($base07, .4);
            min-height: 6px;
            min-width: 6px;
            border-radius: 3px;
            margin-left: 3px;
            margin-right: 3px;

            &.focused {
                min-width: 30px;
                min-height: 15px;
                background-color: $base05;
                color: $base05;
                border-color: $base05;
            }
        }
    }

    .Cava {
        background-color: rgba($base08, .8);
        border: 2px solid rgba($base08, .8);
        color: $base05;
        padding: 2px 5px;
        margin: 5px 5px;
        border-radius: 10px;
    }

    .SysTray {
        margin-top: 0px;
        //margin-bottom: 0px;
        margin-right: 8px;
        padding: 10px 10px 10px 10px;

        button {
            padding: 0px 4px;
            margin: 0px 2px;
            border: 2px solid rgba($base05, .5);
        }
    }

    .FocusedClient {
        color: $base05;
    }

    .Time {
        background: rgba($base08, .8);
        font-weight: bold;
        border: 2px solid rgba($base08, .8);
        color: $base05;
        padding: 0px 5px 0px 5px;
        margin: 5px 0px;
        border-radius: 10px;

        &:hover {
            border: 2px solid rgba($base05, .8);
        }
    }

    .Calendar {
        background: $base00;
        min-height: 100px;
        min-width: 100px;
        .Menu {
            background: $base00;
            color: $base05;
        }
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: 7px;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .AudioSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }

        trough {
            background-color: color.adjust($base07, $alpha: -0.8);
            border-radius: 7px;
        }

        highlight {
            background-color: $base05;
            min-height: .8em;
            border-radius: 7px;
        }

        slider {
            background-color: $base07;
            border-radius: 7px;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }

    .Power {
        label {
            margin: 0px 0px;
            padding-left: 4px;
            padding-right: 4px;
        }

        margin : 5px 5px 5px 5px;
        border: 2px solid rgba($base05, .8);
        background-color: rgba($base05, .8);
        color: $base00;
        border-color: rgba($base05, .8);
        border-radius: 10px;

        &:hover {
            background-color: color.adjust($base05, $alpha: -0.8);
            border: 2px solid rgba($base05, .8);
            margin: 5px 5px 5px 5px;
            color: $base05
        }
    }
}

window#power {
    all: unset;
    background: none;

    box.PowerMenu {
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
        background-color: rgba($base00, .8);
        border: 2px solid $base05;
        border-radius: 10px;

        button {
            background-color: $base08;
            color: $base05;
            border: 2px solid $base05;
            margin-top: 3px;
            margin-bottom: 3px;

            &:hover {
                background-color: rgba($base05, $alpha: 0.8);
                //border: 2px solid rgba($mauve, .8);
                color: $base08
            }
        }
    }
}

window#powerconfirm {
    all: unset;
    background: rgba($base00, .8);

    box.PowerConfirm {
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
        background-color: rgba($base00, .8);
        border: 2px solid $base05;
        border-radius: 10px;

        button .Yes {
            background-color: $base02;
            color: $base08;
            border: 2px solid $base08;
            margin-top: 3px;
            margin-bottom: 3px;

            &:hover {
                background-color: rgba($base05, $alpha: 0.8);
                //border: 2px solid rgba($mauve, .8);
                color: $base08
            }
        }
    }
}
